*{
  margin: 0px;
  padding: 0px;
}
body {
  background-color:#fff ;
  text-align: center ;
  font-family: "Arial";
}

div#game {
  width: 70%;
  margin: auto ;
  margin-top: 10%;
  height: auto ;
  padding: 2%;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}

div#main {
  float: right;
}
div.letter {
  display: inline-block ;
  min-width: 1em ;
  min-height: 1em ;
  border: 1.5px solid #1789af ;
  margin: 0.1em ;
  padding: 1em ;
  text-align: center ;
}


div#gallow{
  margin: auto;
  float: left;
  }

div.parts {
  display: inline-block ;
  min-width: 1em ;
  min-height: 1em ;
  border: 1.5px solid red ;
  margin: 0.1em ;
  padding: 1em ;
  text-align: center ;
}

input.button {
  border-radius: 2px;
  border: 2px solid #1789af;
  background: #fff;
  color: #1789af;
  padding: 2%;
  transition:  all 0.2s;
  cursor: pointer;
}
input.button:hover{
  background: #1789af;
  color:#fff;
}
