body {
  background-color: rgba(51, 193, 147, 0.58) ;
  text-align: center ;
}

div {
  background-color: lightblue ;
  border-radius: 5px ;
/*  border: 1px solid black ; */
  height: auto ;
}

div#game {
  width: 50% ;
  margin: auto ;
  margin-top: auto ;
  min-height: 150px ;
}

div#main {
  float: right;
}
div.letter {
  display: inline-block ;
  min-width: 1em ;
  min-height: 1em ;
  border: 1px solid black ;
  margin: 0.1em ;
  padding: 1em ;
  text-align: center ;
}


div#gallow{
  margin: auto;
  float: left;
  }

div.parts {
  display: inline-block ;
  min-width: 1em ;
  min-height: 1em ;
  border: 1px solid black ;
  margin: 0.1em ;
  padding: 1em ;
  text-align: center ;
}

input.button {
  border-radius: 100% ;
  min-height: 2em ;
  padding: 1em ;
}
